.availability {
    display: flex;
    align-items: center;
    font-weight: 500;
}

.available,
.unavailable {
    margin-left: 5px;
}

.additional-info-container {
    background-color: #fcfcfc;
    padding-left: 30px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #f1efef;
    border-radius: 5px;
    margin: 10px;
    max-width: 475px;
}

.rating-container {
    margin-left: 30px; 
}